/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  color: #b76e79;
  font-family: Lobster;
  text-align: center;
  font-size: 200%;
  letter-spacing: 4px;
}

body {
  background-image: url("sweet.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  opacity: 0.9;
}

#content {
  padding: 10px;
  background-color: #EEE;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  font-family: Lobster;
  letter-spacing: 1.75px;
  color: #b76e79;
  font-size: 20px;
}

input {
  background-color: #b76e79;
  font-family: Arial;
  color: white;
  border-radius: 10%;
}

.container {
  background-color: white;
  padding: 5px;
  margin: 10px;
  border: 0.5px solid #b76e79;
}

#nav-bar form{
  display: inline-block;
  float: right;
}
